.btn {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;

  &[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }

  &--actionable {
    &:active {
      background-color: var(--color-bg-white-10);
    }
  }
}