$background-utils: (
  (
    class: bg,
    attrs: background-color,
    values: $bg-colors,
  ),
  (
    class: bg,
    attrs: background-size,
    values: $bg-size-values,
  ),
);

@include generate-utils($background-utils);
