$border-utils: (
  (
    class: border-bottom,
    attrs: border-bottom,
    values: $borders-values,
  ),
  (
    class: border-bottom-i,
    attrs: border-bottom,
    values: $borders-values,
    important: true
  ),
  (
    class: border-top,
    attrs: border-top,
    values: $borders-values,
  ),
  (
    class: border,
    attrs: border,
    values: $borders-values,
  ),
  (
    class: rounded,
    attrs: border-radius,
    values: $borders-rounding,
  ),
  (
    class: border,
    attrs: border-color,
    values: $borders-colors,
  ),
  (
    class: border-i,
    attrs: border-color,
    values: $borders-colors,
    important: true
  )
);

@include generate-utils($border-utils);
