$flex-utils: (
  (
    class: align-items,
    attrs: align-items,
    values: $flex-align-values,
  ),
  (
    class: justify-content,
    attrs: justify-content,
    values: $flex-align-values,
  ),
  (
    class: flex,
    attrs: flex-direction,
    values: $flex-direction-values,
  ),
  (
    class: flex-grow,
    attrs: flex-grow,
    values: $flex-grow-values,
  ),
);

@include generate-utils($flex-utils);
