$position-utils: (
  (
    class: position,
    attrs: position,
    values: $position-values,
  ),
);

@include generate-utils($position-utils);

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}