$spacing-utils: (
  (
    class: p,
    attrs: padding-top padding-right padding-bottom padding-left,
    values: $spacers,
  ),
  (
    class: p-i,
    attrs: padding-top padding-right padding-bottom padding-left,
    values: $spacers-important,
  ),
  (
    class: px,
    attrs: padding-left padding-right,
    values: $spacers,
  ),
  (
    class: py,
    attrs: padding-top padding-bottom,
    values: $spacers,
  ),
  (
    class: ps,
    attrs: padding-left,
    values: $spacers-important,
  ),
  (
    class: m,
    attrs: margin-top margin-right margin-bottom margin-left,
    values: $spacers,
  ),
  (
    class: mb,
    attrs: margin-bottom,
    values: $spacers,
  ),
  (
    class: gap,
    attrs: gap,
    values: $spacers,
  ),
);

@include generate-utils($spacing-utils);
