$text-utils: (
  (
    class: fw,
    attrs: font-weight,
    values: $text-weights,
  ),
  (
    class: fs,
    attrs: font-size,
    values: $spacers,
  ),
  (
    class: text,
    attrs: text-transform,
    values: $text-transformers,
  ),
  (
    class: text,
    attrs: text-align,
    values: $text-align-values,
  ),
);

@include generate-utils($text-utils);
