:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #fafafa;

  --color-border-primary: #dbdbdb;
  --color-border-secondary: #efefef;

  --color-font-primary: #262626;
  --color-font-secondary: #8e8e8e;
  --color-font-blue: #0095f6;
}

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
);

$spacers-important: (
  0: "0 !important",
  1: "0.25rem !important",
  2: "0.5rem !important",
  3: "0.75rem !important",
  4: "1rem !important",
  5: "1.25rem !important",
  6: "1.5rem !important",
  7: "1.75rem !important",
  8: "2rem !important",
);

$bg-colors: (
  primary: var(--color-bg-primary),
  secondary: var(--color-bg-secondary),
);

$text-colors: (
  primary: var(--color-font-primary),
  secondary: var(--color-font-secondary),
  blue: var(--color-font-blue),
);

$text-weights: (
  semibold: 600,
);

$text-transformers: (
  uppercase: uppercase,
);

$overflow-values: (
  hidden: hidden,
);

$display-values: (
  flex: flex,
  block: block
);

$borders-values: (
  null: 1px solid var(--color-border-primary),
);

$borders-rounding: (
  circle: 50%,
);

$borders-colors: (
  primary: var(--color-border-primary),
  secondary: var(--color-border-secondary),
);