:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #fafafa;
  --color-bg-black-65: rgba(0, 0, 0, .65);
  --color-bg-white-10: rgba(0, 0, 0, .1);

  --color-border-primary: #dbdbdb;
  --color-border-secondary: #efefef;

  --color-font-primary: #262626;
  --color-font-secondary: #8e8e8e;
  --color-font-blue: #0095f6;
  --color-font-red: #ed4956;
}

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
);

$bg-colors: (
  primary: var(--color-bg-primary),
  secondary: var(--color-bg-secondary),
  black-65: var(--color-bg-black-65),
);

$bg-size-values: (
  cover: cover,
);

$text-colors: (
  primary: var(--color-font-primary),
  secondary: var(--color-font-secondary),
  blue: var(--color-font-blue),
  red: var(--color-font-red),
);

$text-weights: (
  semibold: 600,
);

$text-transformers: (
  uppercase: uppercase,
);

$text-align-values: (
  center: center,
);

$overflow-values: (
  hidden: hidden,
);

$display-values: (
  flex: flex,
  block: block,
  none: none,
);

$borders-values: (
  null: 1px solid var(--color-border-primary),
);

$borders-rounding: (
  circle: 50%,
  null: 1rem,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
);

$borders-colors: (
  primary: var(--color-border-primary),
  secondary: var(--color-border-secondary),
);

$position-values: (
  relative: relative,
  absolute: absolute,
  fixed: fixed,
);

$flex-align-values: (
  center: center,
  between: space-between,
);

$flex-direction-values: (
  row: row,
  column: column,
);

$flex-grow-values: (
  0: 0,
  1: 1,
);

$shadow-values: (
  null: 0 .5rem 1rem rgba(0, 0, 0, .15),
  sm: 0 .125rem .25rem rgba(0, 0, 0, .075),
  lg: 0 1rem 3rem rgba(0, 0, 0, .175),
);

$size-values: (
  100: 100%,
);

$content-max-width: 600px;