@import '../../../styles/variables';

.post {
  max-width: $content-max-width;

  &__avatar {
    height: 32px;
    width: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 602px) {
    border: 1px solid var(--color-border-primary);
  }
}
